---
import Layout from "../../layouts/Layout.astro";
import ProductCard from "../../components/ProductCard.jsx";
import { db, Product } from "astro:db";
const products = await db.select().from(Product);
---

<Layout title="products">
    <main>
        <ProductCard products={products} client:load />
    </main>
</Layout>
