---
import Layout from "../../layouts/Layout.astro";
import ServiceCard from "../../components/ServiceCard.jsx";
import { db, Service } from "astro:db";
import { getLangFromUrl } from "../../i18n/utils";

const services = await db.select().from(Service);
const lang = getLangFromUrl(Astro.url);
---

<Layout title="Verbena - Services">
    <main>
        <ServiceCard
            services={services}
            lang={lang}
            siteUrl={Astro.url}
            client:load
        />
    </main>
</Layout>
