---
import Layout from "../../layouts/Layout.astro";
import ServiceCard from "../../components/ServiceCard.jsx";
import { db, Service } from "astro:db";
const services = await db.select().from(Service);
---

<Layout title="services">
    <main>
        <ServiceCard services={services} client:load />
    </main>
</Layout>
