---
import Layout from "../../layouts/Layout.astro";
import ProductCard from "../../components/ProductCard.jsx";
import { db, Product } from "astro:db";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const products = await db.select().from(Product);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const listProdTraductions = {
    filter: t("listprod.filters"),
    category: t("listprod.category"),
    orderbyprice: t("listprod.orderbyprice"),
    add: t("listprod.add"),
    noprod: t("listprod.noprod"),
    all: t("listprod.categoryall"),
    categorylimp: t("listprod.categorylimp"),
    categoryserum: t("listprod.categoryserum"),
    categoryhid: t("listprod.categoryhid"),
    categoryfps: t("listprod.categoryfps"),
    categorycream: t("listprod.categorycream"),
    categorytonic: t("listprod.categorytonic"),
    categorysunscreen: t("listprod.categorysunscreen"),
    noorder: t("listprod.noorder"),
    lth: t("listprod.lth"),
    htl: t("listprod.htl"),
    added: t("listprod.added"),
};
---

<Layout title="Verbena - Productos">
    <main>
        <ProductCard
            products={products}
            siteUrl={Astro.url}
            lang={lang}
            listProdTraductions={listProdTraductions}
            client:load
        />
    </main>
</Layout>
